<main class="container">
  <h1>Bug reproduction</h1>
  <div>
    <ol>
      <li>Run this app on Linux.</li>
      <li>Click "Open" to open the entered URL. A new WebviewWindow will be opened with the URL. This should work.</li>
      <li>Click "Break it!". 10 WebviewWindows will be opened and immediately closed. The last one will kept open. It will be blank instead of showing a website.</li>
      <li>Click "Open" again. A new WebviewWindow will be opened but the window is blank.</li>
    </ol>
  </div>
  <div class="row">
    <input id="url-input" placeholder="Enter a URL..." [(ngModel)]="url" />
    &nbsp;
    <button (click)="openWindowForUrl()">Open</button>
  </div>
  <div class="row">
    <button (click)="openWindows()">Break it!</button>
  </div>
</main>
